{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "markdown", "elm", "cpp", "python", "rust", "html", "bash"],
      "plugins": ["line-numbers", "show-language", "line-highlight"],
      // "theme": "okaidia",
      "css": true
    }]
  ]
}