@font-face {
  font-family: 'source_code_prolight';
  src: url(./files/sourcecodepro-light-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntubold';
  src: url(./files/ubuntu-bold-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_lightregular';
  src: url(./files/ubuntu-light-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_mediumregular';
  src: url(./files/ubuntu-medium-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubunturegular';
  src: url(./files/ubuntu-regular-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura_book';
  src: url(./files/FuturaPTCond-Book.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura_heavy';
  src: url(./files/FuturaPTCond-Heavy.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura_bold';
  src: url(./files/FuturaPTCond-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura_medium';
  src: url(./files/FuturaPTCond-Medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura_light';
  src: url(./files/FuturaPTCond-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
