.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  background: #fff;
  width: 100vw;
  z-index: 9;
}
.bottom-nav li {
  display: inline-block;
  margin: 0;
  font-family: 'robotobold';
}
