.blog-post {
  max-width: 742px;
  margin: 0 auto;
}
.blog-post h1 {
  margin-bottom: 42px;
}
.blog-post h4.post-info {
  margin: 12px 0;
  color: #aaa;
  font-family: 'robotolight';
}
.blog-post .brief-intro {
  padding: 20px;
  background: #000;
  color: #fff;
  border-radius: 8px;
}
.blog-post .blog-content {
  padding: 36px 0;
  font-family: 'loraregular';
  font-size: 19px;
  line-height: 30px;
}
.blog-post .blog-content h1,
.blog-post .blog-content h2,
.blog-post .blog-content h3,
.blog-post .blog-content h4,
.blog-post .blog-content h5,
.blog-post .blog-content h6 {
  font-family: 'robotobold';
  margin: 32px 0 20px 0;
}
.blog-post .blog-content a {
  font-family: 'robotobold';
  color: #D0021B;
  border-bottom: 3px solid rgba(208, 2, 27, 0.12);
  transition: all 0.3s ease-in-out;
}
.blog-post .blog-content a:hover {
  border-color: #D0021B;
}
.post-list {
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.post-card {
  width: calc((100% - 80px)/3);
  margin-bottom: 56px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  transition: 0.4s;
}
.post-card:nth-child(3n-1) {
  margin: 0 40px 56px;
}
.post-card:last-child {
  margin: 0;
}
.post-card .thumbnail {
  margin-bottom: 24px;
}
.post-card .top {
  position: relative;
}
.post-card .time {
  padding: 18px 24px;
  color: #666;
  font-size: 14px;
  font-family: 'robotolight';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9;
}
.post-card .content {
  padding: 0 24px;
  margin: 0 0 24px 0;
}
.post-card .content small {
  color: #888;
  font-size: 14px;
  margin: 0 0 24px 0;
  text-transform: uppercase;
}
.post-card .content .tags {
  margin: 0;
}
.post-card .content .tags li {
  background-color: #f7f7f7;
  border-radius: 100px;
  padding: 3px 12px;
  list-style: none;
  font-size: 12px;
  display: inline-block;
  margin: 0 8px 0 0;
}
@media only screen and (min-width: 960px) {
  .post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
  }
}
@media only screen and (min-width: 561px) and (max-width: 800px) {
  .post-card {
    width: calc((100% - 40px)/2);
  }
  .post-card:nth-child(3n-1) {
    margin: 0 0 56px;
  }
  .post-card:nth-child(2n-1) {
    margin: 0 40px 56px 0;
  }
}
@media only screen and (max-width: 560px) {
  .post-card {
    width: calc(100vw - 80px);
  }
  .post-card:nth-child(3n-1) {
    margin: 0 0 56px;
  }
}
