.blog-post {
  max-width: 742px;
  margin: 0 auto;
  padding: 16px 0;
  .featured-img {
    border-radius: 8px;
  }
  .author {
    margin: 0 0 36px 0;
    .avatar {
      border-radius: 100%;
      height: 56px;
      width: 56px;
      max-width: 56px;
      min-width: 56px;
      margin: 0 12px 0 0;
    }
    .author-info {
      .name {
        font-size: 16px;
      }
      .intro, .date {
        color: #999;
        font-family: 'robotolight';
        font-size: 14px;
        line-height: 20px;
        overflow:hidden; 
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
      }
    }
  }
  h1 {
    margin-bottom: 42px;
    letter-spacing: 1px;
    line-height: 2.75rem;
  }
  h4.post-info {
    margin: 12px 0;
    color: #aaa;
    font-family: 'robotolight';
  }
  .blog-content {
    padding: 36px 0;
    font-family: 'loraregular';
    font-size: 19px;
    line-height: 30px;
    h1, h2, h3, h4, h5, h6 {
      font-family: 'robotobold';
      margin: 32px 0 20px 0;
    }
    a {
      font-family: 'robotobold';
      color: #D0021B;
      border-bottom: 3px solid rgba(208, 2, 27, 0.12);
      &:hover {
        border-color: #D0021B;
      }
      &.anchor {
        border: 0;
      }
    }
  }
  .tags {
    font-size: 16px;
    a {
      color: #000;
      font-family: 'robotobold';
      font-style: italic;
      border-bottom: 3px solid rgba(0, 0, 0, 0.12);
      margin: 0 6px;
      &:hover {
        border-color: #000;
      }
    }
  }
}

.post-list {
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.project-card {
  width: calc(~"(100% - 80px)/2");
  margin: 0 40px 56px 0;
  position: relative;
  &:nth-child(2n) {
    margin-right: 0;
  }
  .thumbnail {
    margin-bottom: 24px;
    border-radius: 8px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)!important;
    img {
      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)!important;
    }
    &::after {
      content: '';
      background: linear-gradient(to bottom,rgba(35,35,35,0),rgba(35,35,35,.65) 100%);
      position: absolute;
      top: auto;
      bottom: 0;
      height: 75%;
      width: 100%;
    }
  }
  .top {
    position: relative;
  }
  h3 {
    letter-spacing: 0.1px;
    line-height: 1.56rem;
  }
  .time {
    color: #fff;
    font-size: 13px;
    font-family: 'robotolight';
    border-radius: 100px;
    z-index: 9;
    display: inline-block;
    margin: 0 0 12px 0;
  }
  .content {
    padding: 0 24px;
    margin: 0 0 24px 0;
    position: absolute;
    bottom: 0;
    h3 {
      color: #fff;
      font-family: 'robotobold';
      margin-bottom: 32px;
    }
  }
}

@media only screen and (min-width: 960px) {
  .project-card {
    &:hover {
      .thumbnail {
        // transform: translateY(-5px);
        // box-shadow: 0 12px 24px rgba(0,0,0,0.12);
        transform: scale(0.96);
        img {
          transform: scale(1.08);
        }
      }
    }
    &.no-thumbnail-list {
      .flex:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 24px rgba(0,0,0,0.12);
        border-color: transparent;
        h4 {
          color: #D0021B;
        }
        .arrow-circle svg circle {
          stroke-dashoffset: 287;
        }
      }
    }
  }
}

@media only screen and (min-width: 561px) and (max-width: 800px) {
  .project-card {
    width: calc(~"(100% - 40px)/2");
    &:nth-child(2n) {
      margin: 0 0 56px 0;
    }
    &:nth-child(2n-1) {
      margin-right: 40px;
    }
  }
}

@media only screen and (max-width: 560px) {
  .project-card {
    width: calc(~"100vw - 80px");
    margin-right: 0;
    &:nth-child(3n) {
      margin: 0 0 56px;
    }
  }
}