.header-wrap {
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
.header {
  height: 90px;
  line-height: 90px;
  padding: 0 40px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
.header.mobile-header {
  height: 70px;
  line-height: 70px;
}
.header.mobile-header .logo {
  width: 132px;
}
.header .menu {
  width: 30vw;
}
.header .menu li {
  list-style: none;
  margin-right: 20px;
  font-family: 'robotobold';
}
.header .menu li:last-child {
  margin: 0;
}
.header .menu.mobile-menu {
  text-align: right;
  font-family: 'robotobold';
}
.header .menu.mobile-menu .menu-items {
  position: fixed;
  display: none;
  width: 100vw;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 998;
  background: rgba(0, 0, 0, 0.3);
}
.header .menu.mobile-menu ul {
  max-width: 80vw;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}
.header .menu.mobile-menu ul li {
  width: 100%;
  text-align: center;
  margin: 0;
}
.header .menu.show .menu-items {
  display: block;
}
.header .logo {
  display: inline-flex;
}
.header img {
  height: 36px;
}
.header img,
.header ul,
.header li {
  margin: 0;
}
