/* @import '../fonts/fonts-post.css'; */

body {
  --pink: rgb(255, 167, 196);
  --black: rgb(20, 23, 26);
  --font-grey: rgb(101, 119, 134);
  --border-grey: #e8e8e8;
  --bg-grey: rgb(245, 248, 250);
  --border: 1px solid var(--border-grey);
  --font-family: 'ubuntu_lightregular', PingFang SC, Microsoft YaHei,
    Noto Sans CJK SC, WenQuanYi Micro Hei, system-ui, -apple-system, sans-serif;
  background-color: var(--bg);
  font: 100%/1.75 var(--font-family);
  --font-light: 'ubuntu_lightregular';
  --font-regular: 'ubunturegular';
  --font-medium: 'ubuntu_mediumregular';
  --font-bold: 'ubuntubold';
  --primary: rgba(29, 161, 242);
  --primary-hover: rgb(26, 145, 218);
  --secondary: rgba(29, 161, 242, 0.1);
  --secondary-hover: rgba(29, 161, 242, 0.2);
  --box-shadow: 0 1px 3px rgba(26, 26, 26, 0.08);
}

body.light {
  /* --bg: #ffffff; */
  --bg: rgb(245, 248, 250);
  --header: var(--black);
  --textNormal: var(--black);
  --textTitle: var(--black);
  --textLink: rgb(27, 149, 224);
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  /* font-weight: 300; */
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #282c35;
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #ffffff;
  --textLink: var(--pink);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: hsl(222, 14%, 25%);
  --inlineCode-text: #e6e6e6;
  font-weight: 300;
}

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
code[class*='language-'],
pre[class*='language-'] {
  color: white;
  background: none;
  font-family: 'source_code_prolight', Consolas, Menlo, Monaco, source-code-pro,
    'Courier New', monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-size: 0.85rem;
}

code[class*='language-text'] {
  font-family: 'ubunturegular', Consolas, Menlo, Monaco, source-code-pro,
    Courier New, monospace;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: 'italic';
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 10px;
  background: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

/* ::selection {
  color: #fff;
  background: #0062ee;
} */

strong {
  font-family: var(--font-medium);
  font-weight: 400;
}

a {
  /* transition: box-shadow 0.2s ease-in-out; */
  text-decoration: none;
  color: var(--textLink);
  font-family: var(--font-medium);
  font-weight: 500;
  /* box-shadow: 0 1px 0 0 currentColor; */
}

a:hover,
a:active {
  box-shadow: none;
}

ul,
ol {
  padding: 0;
  margin-bottom: 1.75rem;
}

li {
  margin-bottom: calc(1.75rem / 2);
}

p {
  /* margin-bottom: 1.75rem; */
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ubuntubold';
}

h1 {
  font-size: 1.75rem;
  line-height: 1.1;
}

.anchor {
  box-shadow: none;
}

blockquote {
  border-left: 0.32rem solid var(--black);
  padding-left: 1.2rem;
  margin: 0;
  font-style: italic;
}

.gatsby-resp-image-link {
  border: 0;
  box-shadow: none;
  /* padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem; */
  margin-bottom: 24px;
  overflow: hidden;
  /* border: var(--border); */
}

.gatsby-resp-image-background-image {
  border-radius: 6px;
  overflow: hidden;
}

/* .gatsby-resp-image-link .gatsby-resp-image-image {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04) !important;
  border-radius: 6px;
} */

table {
  border: var(--border);
  padding: 20px;
  border-radius: 6px;
  border-spacing: 0;
  background-color: white;
  width: 100%;
}

th {
  font-family: var(--font-medium);
}

td,
th {
  padding: 8px 16px;
}

tr td:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

tr td:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

tbody tr {
  border-radius: 3px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

tbody tr:hover {
  background-color: var(--bg);
}

.header-top-right span {
  color: var(--font-grey);
  font-family: var(--font-regular);
}

.btn {
  background-color: var(--black);
  color: white;
  font-family: var(--font-medium);
  padding: 8px 10px;
  border-radius: 3px;
  transition: background-color 0.32s ease;
  font-size: 12px;
}

/* .btn:hover {
  opacity: 0.88;
} */

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

main {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  padding: 16px 42px;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }

  .header-top-right span {
    display: none;
  }
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
  min-width: 100%;
}
